// .content {
//   // display: none;
// }

* {
  font-family: 'Cinzel', serif;
}

.container-fluid {
    background-color: #F5FFFE;
}

h1 {
  text-align: center;
}

// hr {
//   height: 20px;
// }

p {
  text-align: center;
}

.landing-buttons {
  text-align: center;
  // border-bottom-style: double;
  // border-bottom-color: black;
  // padding-bottom: 50 px;
  // need a way to push the border down
}

#landing-change-password{
  display: none;
}

#sign-out-button {
  display: none;
}

#hidden-until-sign-in {
  display: none;
}

.cards {
  clear: both;
  text-align: center;
  // margin: 0 auto;
  // position: relative;
  // align-items: center;
  // justify-content: center;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content {
  border-style: double;
  border-color: black;
  margin-top: 50px;
  display: none;
  overflow-y: scroll;
  height: 200px;
  width: auto;
  text-align: center;
}

.spaceUnderLanding {
  height: 250px;
  margin: auto;
  // display: block;
  // align-items: center;
  // opacity: .1;
}


.imageDiv {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}

@media (min-width: 200px) {
  .imageDiv {
    display: block;
  }

}

.spaceBetween {
  height: 75px;
}

.remove {
}

.edit {
}
