#sign-up-message {
  text-align: left;
}

#sign-in-message {
  text-align: left;
}

#password-change-message {
  text-align: left;
}
.submitButton {
  background-color: #9BD5E8;
}

.myListFields {
  border-color: #F5FFFE;
}

.modal.fade {
  background-color: #9BD5E8;
}

#exampleModalLabel {
  font-weight: bold;
}

.text {
  border-color: #F5FFFE;
}
